/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
        // zmk,physical-layout = &foostan_corne_5col_layout;
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
    behaviors {
        dotcomma: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };

        brace: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };
        
        paren: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPRN>, <&kp RPRN>;
        };
        
        bssc: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp FSLH>, <&kp SCLN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp TAB   &kp A &kp S &kp D &kp F &kp G     &kp H &kp J  &kp K     &kp L   &brace   &kp DEL 
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M  &dotcomma &none   &to 4    &kp RET
                         &kp LGUI &lt 1 MINUS &kp SPACE     &kp RCTRL &lt 2 FSLH &mo 5
            >;
        };

        lower_layer {
            bindings = <
                &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR  &kp PRCNT    &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR &kp DEL
                &kp DEL   &kp F1   &kp F2 &kp F3   &kp UNDER &kp LBKT     &kp RBKT  &kp PLUS &kp COLON &none     &none    &kp HOME
                &none     &kp F4   &kp F5 &kp F6   &kp F7    &kp F8       &kp F9    &kp F10  &kp F11   &kp F12   &kp PIPE &kp END 
                                          &trans   &trans    &trans       &trans    &trans   &trans
            >;
        };

        raise_layer {
            bindings = <
                &kp GRAVE &kp N1   &kp N2 &kp N3   &kp N4    &kp N5       &kp N6    &kp N7  &kp N8    &kp N9  &kp N0   &kp DEL
                &kp DEL   &kp F1   &kp F2 &kp F3   &kp COLON &kp LBRC     &kp RBRC  &kp EQL &kp SEMI  &kp SQT &kp BSLH &kp PG_UP
                &none     &kp F4   &kp F5 &kp F6   &kp F7    &kp F8       &kp F9    &kp F10 &kp F11   &kp F12 &kp INS  &kp PG_DN 
                                          &trans   &trans    &trans       &trans    &trans   &trans
            >;
        };
        
        adjust_layer {
            bindings = <
                &bootloader &none        &none        &none        &none  &none     &none  &none  &none &none &none &kp DEL
                &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none  &none     &none  &none  &none &none &none &none
                &none       &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &none  &none     &none  &none  &none &none &none &none
                                                      &trans       &trans &trans    &trans &trans &trans 
            >;
        };
        
        gaming_layer {
            bindings = <
                &kp ESC   &kp N1 &kp N2 &kp N3  &kp N4 &kp N5         &none  &none &none  &none &none &none &none &kp DEL
                &kp LCTRL &kp Q  &kp W  &kp E   &kp R  &kp T          &none  &none &none  &none &none &none &none &none
                &kp LSHFT &kp A  &kp S  &kp D   &kp F  &kp G          &none  &none &none  &none &none &none &none &to 0
                                         &kp LGUI &kp TAB &kp SPACE   &none &none &none
            >;
        };
        
        alt_layer {
            bindings = <
                &none       &none        &kp UP       &none        &none  &none     &none  &none  &none &none &none &none
                &none       &kp LEFT     &kp DOWN     &kp RIGHT    &none  &none     &none  &none  &none &none &none &none
                &none       &none        &none        &none        &none  &none     &none  &none  &none &none &none &none
                                                      &trans       &trans &trans    &trans &trans &trans 
            >;
        };
    };
};
