config SHIELD_BLECORNE_DONGLE
    def_bool $(shields_list_contains,blecorne_dongle)
    
config SHIELD_BLECORNE_LEFT
    def_bool $(shields_list_contains,blecorne_left)
    
config SHIELD_BLECORNE_RIGHT
    def_bool $(shields_list_contains,blecorne_right)